

.navbar-brand > img {
    height: 25px;
}

.navbar-brand > h1 {
    color: white;
    font-size: 1.2em;
}

#navbarNavDropdown > ul > li > a {
    color: black;
    transition: color 0.5s;
    font-size: large;
}

#navbarNavDropdown > ul > li > a:hover {
    color: white;
    transition: color 0.25s;
}

img {
    height: 100%;
    width: 100%;
    border-radius: 15%;
    /* padding: 5px; */
}

.row > .valuesEducation > div > div.title.row {
    /* background-color: rgba(50, 149, 255, 0.75) */
    text-decoration: underline;
    text-underline-offset: 0.1em;
    text-decoration-color: rgba(50, 149, 255, 0.75);
    padding: 1em;
}


.row > div > div > .row > ul > li {
    list-style-type: none;
}



/* .pictures {
    width: 50%;
} */


::-webkit-scrollbar {
    width: 5px;
} 

::-webkit-scrollbar-track {
    background: lightgray;
}

::-webkit-scrollbar-thumb {
    background: gray;
}


