

.navbar-brand > img {
    height: 25px;
}

.navbar-brand > h1 {
    color: white;
    font-size: 1.2em;
}

#navbarNavDropdown > ul > li > a {
    color: black;
    transition: color 0.5s;
    font-size: large;
}

#navbarNavDropdown > ul > li > a:hover {
    color: white;
    transition: color 0.25s;
}

img {
    height: 100%;
    width: 100%;
    border-radius: 15%;
    /* padding: 5px; */
}


/* .pictures {
    width: 50%;
} */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: lightgray;
}

::-webkit-scrollbar-thumb {
    background: gray;
}