#begin {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner > img {
    filter: blur(2px);
    filter: brightness(75%);
}

.intro > h2 {
    text-shadow: 0px 5px 5px gray;
}

.text-shadow {
    text-shadow: 0px 5px 5px gray;
}


.btn-focus {
    box-shadow: none;
}

.onimage {
    bottom: 1%;
    left: 10%;
    right: 10%;
    color: white;
    position: absolute;
    text-shadow: 0px 5px 10px black;
}

img {
    height: 100%;
    width: 100%;
    box-shadow: none;
    transition: box-shadow 0.4s ease-in-out;
}

#body > div:nth-child(3) > div:nth-child(2) > div > div > button > img {
    border-radius: 5%;
}


#body > div:nth-child(3) > div:nth-child(2) > div > div > button > img:hover {
    box-shadow: 0px 5px 10px gray;
}

.btn-focus {
    box-shadow: none;
}

#body > div:nth-child(3) > div > div > div > button {
    box-shadow: none;
}

#body > div:nth-child(4) > div > div.cert.col-md-12.col-xxl-6 > div:nth-child(2) > div.row.mx-auto.mb-3 > button {
    box-shadow: none;
}

#body > div:nth-child(4) > div > div.cert.col-md-12.col-xxl-6 > div:nth-child(2) > div:nth-child(2) > button {
    box-shadow: none;
}



#body > div:nth-child(4) > div > div.cert.col-md-12.col-xxl-6 > div:nth-child(2) > div:nth-child(2) > button > img:hover {
    box-shadow: 0px 5px 10px gray;
}

#body > div:nth-child(4) > div > div.cert.col-md-12.col-xxl-6 > div:nth-child(2) > div.row.mx-auto.mb-3 > button > img:hover {
    box-shadow: 0px 5px 10px gray;
}

.title.row {
    text-underline-offset: 0.1em;
    text-decoration-color: rgba(50, 149, 255, 0.75);
    padding: 1em;
    text-shadow: 1px 5px 10px gray;
}

.change {
    background-color: blue;
}


.row > div > div > .row > ul > li {
    list-style-type: none;
}

.text-justify {
    text-align: justify;
}




body > div > div:nth-child(5) > div.personality.row > div:nth-child(1) > div:nth-child(1) > div > div.card-header {
    animation-name: backgroundPersonality1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    background: linear-gradient(90deg, #FDBB2D 0%, #3A1C71 100%);
    background-size: 400% 400%;
    
}

body > div > div:nth-child(5) > div.personality.row > div:nth-child(1) > div:nth-child(2) > div > div.card-header {
    animation-name: backgroundPersonality2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
    background-size: 400% 400%;
}

body > div > div:nth-child(5) > div.personality.row > div:nth-child(1) > div:nth-child(3) > div > div.card-header {
    animation-name: backgroundPersonality3;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
    background-size: 400% 400%;
}


@keyframes backgroundPersonality1 {
    0%{background-position:0% 10%}
    50%{background-position:100% 91%}
    100%{background-position:0% 10%}
}

@keyframes backgroundPersonality2 {
    0%{background-position:0% 10%}
    50%{background-position:100% 91%}
    100%{background-position:0% 10%}
}

@keyframes backgroundPersonality3 {
    0%{background-position:0% 10%}
    50%{background-position:100% 91%}
    100%{background-position:0% 10%}
}

body > div > div:nth-child(4) > div {
    padding: 0;
}

body > div > div.row.justify-content-center > div.personality.row.justify-content-center {
    padding: 0;
}

/* Personality Coloring */

body > div > div:nth-child(5) > div.personality.row > div.typesCard.row.mt-3 > div:nth-child(1) > div > div.card-header {
    background-color: #4298b4;
}

body > div > div:nth-child(5) > div.personality.row > div.typesCard.row.mt-3 > div:nth-child(2) > div > div.card-header {
    background-color: #e4ae3a;
}

body > div > div:nth-child(5) > div.personality.row > div.typesCard.row.mt-3 > div:nth-child(3) > div > div.card-header {
    background-color: #33a474;
}

body > div > div:nth-child(5) > div.personality.row > div.typesCard.row.mt-3 > div:nth-child(4) > div > div.card-header {
    background-color: #88619a;
}

body > div > div:nth-child(5) > div.personality.row > div.typesCard.row.mt-3 > div:nth-child(5) > div > div.card-header {
    background-color: #f25e62;
}


body > div > div:nth-child(5) > div.personality.row > div.typesCard.row.mt-3 > div:nth-child(1) > div > div.card-body > div > div {
    width: 62%;
    background-color: #4298b4;
}

body > div > div:nth-child(5) > div.personality.row > div.typesCard.row.mt-3 > div:nth-child(2) > div > div.card-body > div > div {
    width: 64%;
    background-color: #e4ae3a;
}

body > div > div:nth-child(5) > div.personality.row > div.typesCard.row.mt-3 > div:nth-child(3) > div > div.card-body > div > div {
    width: 53%;
    background-color: #33a474;
}

body > div > div:nth-child(5) > div.personality.row > div.typesCard.row.mt-3 > div:nth-child(4) > div > div.card-body > div > div {
    width: 51%;
    background-color: #88619a;
}

body > div > div:nth-child(5) > div.personality.row > div.typesCard.row.mt-3 > div:nth-child(5) > div > div.card-body > div > div {
    width: 57%;
    background-color: #f25e62;
}








/* Timetable coloring */
.time {
    background-color: rgba(90, 201, 235, 0.2)
}


.CAT {
    background-color: rgba(255, 200, 255, 0.5);
}





.CPR {
    background-color: rgba(255, 240, 200, 0.75);
}




.ECG {
    background-color: rgba(225, 200, 255, 0.5);
}




.FED {
    background-color: rgba(255, 200, 200, 0.5);
}



.FOC {
    background-color: rgba(145, 255, 255, 0.5);
}



.FOP {
    background-color: rgba(200, 255, 200, 0.5);
}



.MATH {
    background-color: rgba(255, 255, 150, 0.5);
}




.SFL {
    background-color: rgba(135, 135, 255, 0.25);
}

.current {
    background-color: rgb(235, 235, 235);
}


.bottomrow {
    visibility: collapse;
}

.days {
    background-color: rgba(90, 201, 235, 0.1);
}





/* Responsive CSS for mobile */

@media (max-width: 576px) {
    #carouselExampleIndicators > div.carousel-inner.shadow-lg > div > div {
        height: 500px;
    }
    
    .carousel-inner {
        height: 500px;
    }

    #typewriter {
        font-size: 1.5em;
        text-shadow: 0px 1px 10px white;
    }

}

@media (min-width: 576px) {
    #carouselExampleIndicators > div.carousel-inner.shadow-lg > div > div {
        height: 500px;
    }
    
    .carousel-inner {
        height: 500px;
    }
}

/* Responsive CSS for tablet */
@media (min-width: 768px) {
    #carouselExampleIndicators > div.carousel-inner.shadow-lg > div > div {
        height: 650px;
    }
    
    .carousel-inner {
        height: 650px;
    }

    #typewriter {
        font-size: 2em;
        text-shadow: 0px 1px 10px white;
    }
    
    #begin {
        top: 60%;
    }
}

/* Responsive CSS for Laptops */
@media (min-width: 1400px) {
    #carouselExampleIndicators > div.carousel-inner.shadow-lg > div > div {
        height: 700px;
    }
    
    .carousel-inner {
        height: 700px;
    }

    #typewriter {
        font-size: 3em;
        text-shadow: 0px 1px 10px white;
    }
}

@media (min-width: 1650px) {
    #carouselExampleIndicators > div.carousel-inner.shadow-lg > div > div {
        height: 550px;
    }
    
    .carousel-inner {
        height: 550px;
    }
}


.progressCircle {
    background: radial-gradient(white 50%, transparent 51%),
    conic-gradient(transparent 0deg 0deg, gainsboro 0deg 360deg),
    conic-gradient(white 0deg, white 90deg, white 180deg, white);

    border-radius: 50%;
    width: 120px;
    height: 120px;
}